.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: #fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: transparent;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
  border-radius: 50%;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}

.title-c{
  padding: 5px;
  background: rgba(0,0,0,.6);
  margin: -1px;
  box-shadow: 0px 0px 1px rgba(0,0,0,.5);

}

.demo-card-header-pic .card-header {
    height: 11pc;
    background-size: cover;
    background-position: center;
  }
  .popover{
    width: 200px;
  }
  .menu{
    padding-left:10px;
  }
 .picker-modal{
  box-shadow: 0px 0px 15px rgb(0,0,0);
  position: absolute;


  top: 100%

 }
 .c1{margin-top: -100px;} .s1{margin-top: -40px;margin-bottom: 4px;} .swiper-custom{max-height: 250px;} .accordion-item-content{text-align: justify;} .navbar{box-shadow: 0px 0px 20px rgba(0,0,0,.9)}

 .anuncio{
  background: #fefefe;
  width: 100%;
  height: 130px;
  z-index: 9900;

  }
  .anuncio2{
  background: #fefefe;
  width: 100%;
  height: auto;
  z-index: 1000;

  }
iframe{
  border: transparent;
  border-radius: 7px;
}
.statusbar-overlay {
    background: #607d8b;
}
.panel{color: #fff; background-color: #000; opacity: .9}
.dk{background-color: #191C1F;}
.material-icons{
  color:  #f44336;
  padding-left: 14px;
  font-size: 100px;
  
}
.black{
  color: #2c3e50;
  text-align: center;
      }
.theme-lightpink{
  background: #504dff;
}
.theme-aqua{
  background-color: #00a3b6;

}

@media (min-width:600px) {
  .demo-card-header-pic .card-header {
    height: 19pc;
    background-size: cover;
    background-position: center;
  }
  
  .btn {
    -webkit-transition: none;
    transition: none; } }
.btn:hover {
  color: #343a40;
  text-decoration: none; }
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
.btn.disabled, .btn:disabled {
  opacity: 0.65; }

a.btn.disabled,
fieldset:disabled a.btn {
pointer-events: none; }

  .btn-primary {
    color: #fff;
    background-color: #b66dff;
    border-color: #b66dff; }
    .btn-primary:hover {
      color: #fff;
      background-color: #a347ff;
      border-color: #9d3aff; }
    .btn-primary:focus, .btn-primary.focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #b66dff;
      border-color: #b66dff; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #9d3aff;
      border-color: #962dff; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(193, 131, 255, 0.5); }

